.logo-img {
    width: 210px;
    height: 55px;
}

.header-bg {
    background-color: rgb(4, 4, 91);
}

.dashboard {
    text-decoration: none;
}

.bottomLine {
    border-bottom: 2px solid #105816;
}