.logo-img {
    width: 250px;
    height: 65px;
}

.header-bg {
    background-color: rgb(4, 4, 91);
}

.dashboard {
    text-decoration: none;
}

.bottomLine {
    border-bottom: 2px solid #105816;

}